
#form{
  width:400px;
  margin: 0 auto;
  text-align: center;
}

#form form input{
  width:100%;
  height:30px;

}

form button{
  width: 50%;
  height:38px;
}

table,td{
  border:solid #e9e9e9 1px;
}

.navbar-custom{
  color:red !important;
  height: 25px;
}

#table{
  position:relative;
  right:105px;
}
